In [13]:
import pandas as pd
import os

# Load superstore sales data
data_path = os.path.join('..', 'data', 'Global_Superstore.csv')
df = pd.read_csv(data_path, encoding='cp1252')

print(f"Data loaded successfully!")
print(f"Shape: {df.shape}")
print(f"\nFirst few rows:")
df.head()

Data loaded successfully!
Shape: (51290, 24)

First few rows:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,05-11-2013,06-11-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [14]:
df.shape

(51290, 24)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB

In [28]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375915
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296804

In [30]:
# Convert date columns to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

print("Date columns converted to datetime!")
print(f"Order Date dtype: {df['Order Date'].dtype}")
print(f"Ship Date dtype: {df['Ship Date'].dtype}")

Date columns converted to datetime!
Order Date dtype: datetime64[ns]
Ship Date dtype: datetime64[ns]

In [32]:
df.isna().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [33]:
print('duplicate count:', df.duplicated().sum())
display(df[df.duplicated()].head())

duplicate count: 0

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, City, State, Country, Postal Code, Market, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit, Shipping Cost, Order Priority]
Index: []

[0 rows x 24 columns]

In [34]:
sales_issues = df[df['Sales'] <= 0]

# 2️⃣ Check zero and negative values in Quantity
quantity_issues = df[df['Quantity'] <= 0]

# 3️⃣ Check zero and negative values in Profit
profit_issues = df[df['Profit'] <= 0]

# Print summary
print("Sales Issues Count:", sales_issues.shape[0])
print("Quantity Issues Count:", quantity_issues.shape[0])
print("Profit Issues Count:", profit_issues.shape[0])

Sales Issues Count: 0
Quantity Issues Count: 0
Profit Issues Count: 13212

In [35]:
df.drop_duplicates(inplace=True)

# verify duplicates removed
df.duplicated().sum()

np.int64(0)

In [36]:
df[['Sales', 'Quantity', 'Discount', 'Profit']].describe()

              Sales      Quantity      Discount        Profit
count  51290.000000  51290.000000  51290.000000  51290.000000
mean     246.490581      3.476545      0.142908     28.610982
std      487.565361      2.278766      0.212280    174.340972
min        0.444000      1.000000      0.000000  -6599.978000
25%       30.758625      2.000000      0.000000      0.000000
50%       85.053000      3.000000      0.000000      9.240000
75%      251.053200      5.000000      0.200000     36.810000
max    22638.480000     14.000000      0.850000   8399.976000

In [37]:
# Rows with invalid discount values
invalid_discounts = df[~df['Discount'].between(0, 1)]
print("Invalid Discount Count:", invalid_discounts.shape[0])

Invalid Discount Count: 0

In [24]:
# Check unique values in categorical columns
print("Region values:\n", df['Region'].unique())
print("\nCategory values:\n", df['Category'].unique())
print("\nSegment values:\n", df['Segment'].unique())

Region values:
 ['East' 'Oceania' 'Central' 'Africa' 'West' 'South' 'Central Asia' 'EMEA'
 'North Asia' 'North' 'Caribbean' 'Southeast Asia' 'Canada']

Category values:
 ['Technology' 'Furniture' 'Office Supplies']

Segment values:
 ['Consumer' 'Corporate' 'Home Office']

In [25]:
print(df['Region'].value_counts())
print(df['Category'].value_counts())
print(df['Segment'].value_counts())

Region
Central           11117
South              6645
EMEA               5029
North              4785
Africa             4587
Oceania            3487
West               3203
Southeast Asia     3129
East               2848
North Asia         2338
Central Asia       2048
Caribbean          1690
Canada              384
Name: count, dtype: int64
Category
Office Supplies    31273
Technology         10141
Furniture           9876
Name: count, dtype: int64
Segment
Consumer       26518
Corporate      15429
Home Office     9343
Name: count, dtype: int64

In [26]:
# Standardize categorical text
categorical_cols = ['Region', 'Category', 'Segment']

for col in categorical_cols:
    df[col] = df[col].str.strip().str.title()

In [27]:
for col in categorical_cols:
    print(f"\n{col} cleaned values:")
    print(df[col].unique())

Region cleaned values:
['East' 'Oceania' 'Central' 'Africa' 'West' 'South' 'Central Asia' 'Emea'
 'North Asia' 'North' 'Caribbean' 'Southeast Asia' 'Canada']

Category cleaned values:
['Technology' 'Furniture' 'Office Supplies']

Segment cleaned values:
['Consumer' 'Corporate' 'Home Office']

In [42]:
df.to_csv("../data/processed_sales.csv", index=False)